.player {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	background-color: blueviolet;
	position: relative;
}

.moveTarget {
	width: 5px;
	height: 5px;
	border-radius: 5px;
	background-color: darkred;
	position: relative;
}